#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Free for All Fix Configuration
########################################
#
#    FFAFix.Enable
#        Description: Enable the FFAFix module.
#        Default:     0 - Disabled
#                     1 - Enabled
#

FFAFix.Enable = 0

#
#    FFAFix.Alert.Change
#        Description: Alert the player when their FFA state changes.
#                     0 - Disabled
#        Default:     1 - Enabled
#

FFAFix.Alert.Change = 1

#
#    FFAFix.Alert.Change.FFA
#        Description: The alert shown when entering a FFA area.
#        Default:     "|cffff0000You are now flagged for Free for All PVP!|r"
#

FFAFix.Alert.Change.FFA = "|cffff0000You are now flagged for Free for All PVP!|r"

#
#    FFAFix.Alert.Change.Safe
#        Description: The alert shown when entering a safe area.
#        Default:     "|cff00ff00You have entered a safe zone.|r"
#

FFAFix.Alert.Change.Safe = "|cff00ff00You have entered a safe zone.|r"
